@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 1440px;
 margin: 0px 140px 0px 140px;
 position: static;
}

nav .main-logo{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}

nav .download-button{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 13px 18px 13px 18px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
}

.hero-section{
 max-width: 1440px;
 background-image: url("/assets/Hero-bg.png");
 margin-top: 30px;
 background-size: contain;
}

.hero-section .hero-container{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}

.hero-container .hero-img img{
/* Group */
width: 240.28px;
height: 240px;
left: 257.67%;
right: -257.67%;
max-height: 150px;
max-width: 70%;
margin-top: 10px;
}

.hero-container .hero-heading{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
margin-bottom: 0;
}

.hero-container .hero-description{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 8px;
font-weight: 400;;
letter-spacing: 0%;
text-align: center;
opacity: 70%;
/* margin-top: 10px; */
}

.hero-container .hero-button{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 10px 18px 10px 18px;
margin-bottom: 10px;
}